@font-face {
    font-family: abster;
    src: url(fonts/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #939597;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header h1 a{
    text-decoration: none;
    color: #F5dF4D;
    font-family: abster;
    margin: 30px;
}

.header .nav ul{
    margin: 30px;
}

.header .nav ul li{
    display: inline-block;
    margin: 0 10px;
    font-family: abster;
}

.header .nav ul li a{
    text-decoration: none;
    color: #F5dF4D;
    font-weight: bolder;
    font-size: 20px;
}

.header .nav ul li a:hover{
    color: darkgray;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.container .section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-blend-mode: multiply;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.container .section:nth-child(1){
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/운동_1.png");
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(1) .hero{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: floralwhite;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .section:nth-child(1) .hero h2{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
}

.container .section:nth-child(1) .hero p{
    font-size: 22px;
}

.container .section:nth-child(1) .hero button{
    background-color: #F5dF4D;
    border: 2px #939597;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
}

.container .section:nth-child(1) .hero button:hover{
    background-color: #F5dF4D;
}


.container .section:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)) ,url(https://image.ytn.co.kr/general/jpg/2020/1130/202011300700017010_d.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.container .section .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .section .content h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.button_over1{
    cursor: pointer;
    background-color: black;
}

.button_over2{
    cursor: pointer;
}

.buttons{
    cursor: pointer;
}

.ab_back{
    background-image: url(https://src.hidoc.co.kr/image/lib/2020/4/13/1586766471495_0.jpg);
    background-size: cover;
    z-index: -2;
}

.ab_back_filter{
    background-color: #666666;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;

}

.input_list{
    text-align: left;
    font-size:18px;
    font-weight: bold;
    margin-bottom:10px;
}


/* 적용 스타일 */
.run_section {position:relative; margin-top:300px; margin-left: 1000px; height:600px; z-index: -1;}
.run img {width:100%;}
.run {position:absolute;z-index:1;top:40%;left:15%;transform:translate(-50%,-50%);max-width:500px;width:100%;animation:updown .5s linear infinite alternate;}
.hand1 {position:absolute;z-index:1;top:19.7%;left:45%;width:17%;animation:hand1 1s linear infinite alternate;transform-origin:100% 10%;}
.hand2 {position:absolute;z-index:-1;top:19.4%;left:46%;width:16%;animation:hand2 1s linear infinite alternate;transform-origin:100% 20%;}
.foot1-1 {position:absolute;z-index:-2;top:45%;left:48.7%;width:22%;animation:foot1-1 1s linear infinite alternate;transform-origin:40% 10%;}
.foot1-2 {position:absolute;z-index:-1;top:92%;left:60%;width:121%;animation:foot1-2 2s linear infinite;transform-origin:26% 4%;}
.foot1-3 {position:absolute;z-index:1;bottom:0%;right:0%;width:27%;animation: toe1 2s linear infinite;transform-origin:left bottom;}
.foot2-1 {position:absolute;z-index:-1;top:45%;left:48.7%;width:22%;animation:foot2-1 1s linear infinite alternate;transform-origin:40% 10%;}
.foot2-2 {position:absolute;z-index:-1;top:92%;left:60%;width:121%;animation:foot2-2 2s linear infinite;transform-origin:26% 4%;}
.foot2-3 {position:absolute;z-index:1;bottom:0%;right:0%;width:27%;animation: toe2 2s linear infinite;transform-origin:left bottom;}


/* 키프레임 */
@keyframes hand1{
    from {transform:rotate(0);}
    to {transform:rotate(-60deg);}
}

@keyframes hand2{
    from {transform:rotate(-90deg);}
    to {transform:rotate(0);}
}

@keyframes foot1-1{
    from {transform:rotate(50deg);}
    to {transform:rotate(0);}
}

@keyframes foot1-2{
    from {transform:rotate(67deg);}
    40% {transform:rotate(50deg);}
    50% {transform:rotate(0);}
    90% {transform:rotate(0);}
    to {transform:rotate(67deg);}
}

@keyframes toe1{
    from {transform:rotate(0deg);}
    50% {transform:rotate(0deg);}
    80% {transform:rotate(-30deg);}
    90% {transform:rotate(-30deg);}
    to {transform:rotate(0deg);}
}

@keyframes foot2-1{
    from {transform:rotate(0);}
    to {transform:rotate(50deg);}
}

@keyframes foot2-2{
    from {transform:rotate(0);}
    40% {transform:rotate(0);}
    50% {transform:rotate(67deg);}
    90% {transform:rotate(50deg);}
    to {transform:rotate(0);}
}

@keyframes toe2{
    from {transform:rotate(0deg);}
    30% {transform:rotate(-30deg);}
    40% {transform:rotate(-30deg);}
    50% {transform:rotate(0deg);}
    to {transform:rotate(0deg);}
}

@keyframes updown{
     from {margin-top:-8px;}
     to {margin-top:0;}
 }

.box {
    position: fixed;
    bottom: 200px;
    right: 445px;
    width: 600px;
    height: 300px;
    margin : 20px;
    padding : 30px;
    border-radius : 5px;
    background-color: #5a5a5a;
    z-index: 2;
    opacity: 0.7;
}

.pred_box1{
    position: fixed;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 630px;
    border-radius : 5px;
    background-color: #5a5a5a;
    z-index: 2;
    opacity: 0.7;
}
.pred_box2{
    position: fixed;
    width: 1100px;
    height: 120px;
    border-radius : 5px;
    background-color: lightgoldenrodyellow;
    z-index: 2;
    opacity: 0.7;
}
.pred_ex{
    text-align: center;
    margin-top: 120px;
    font-size:30px;
    color: white;
    font-weight: 900;
    z-index: 3;
}