@font-face {
    font-family: abster;
    src: url(fonts/abster-webfont.woff) format('woff');
}

@font-face {
    src: url("fonts/NanumSquareB.ttf");
    font-family: "Nanum";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum";
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.container .section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-blend-mode: multiply;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.container .section:nth-child(1){
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)), url(https://post-phinf.pstatic.net/MjAxOTEyMTFfMjgy/MDAxNTc2MDUwODAxODQ3.qV7kcYtxZZr7ycnGUsmKyj2-eYBThcJbaAf7Xr4uLzAg.T0x40qYIWBL2pXFG51QhCt6N5xSFZVKOZaicP3XGx5Yg.JPEG/image_8240955871576050766062.jpg?type=w1200);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(1) .hero{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: floralwhite;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .section:nth-child(1) .hero h2{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
}

.container .section:nth-child(1) .hero p{
    font-size: 22px;
}

.container .section:nth-child(1) .hero button{
    background-color: #F5dF4D;
    border: 2px #939597;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
}

.container .section:nth-child(1) .hero button:hover{
    background-color: #F5dF4D;
}


.container .section:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)) ,url(https://image.ytn.co.kr/general/jpg/2020/1130/202011300700017010_d.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.container .section .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .section .content h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.buttons{
    cursor: pointer;
}

.ab_back{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)) ,url(https://p4.wallpaperbetter.com/wallpaper/727/472/1008/5bd0bd519b5c8-wallpaper-preview.jpg);
    background-size: cover;
    z-index: -2;
}

.ab_back_filter{
    background-color: #666666;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;

}

.input_list{
    text-align: left;
    font-size:18px;
    font-weight: bold;
    margin-bottom:10px;
}

.box {
    position: fixed;
    bottom: 200px;
    right: 445px;
    width: 600px;
    height: 300px;
    margin : 20px;
    padding : 30px;
    border-radius : 5px;
    background-color: #5a5a5a;
    z-index: 2;
    opacity: 0.7;
}

.pred_box1{
    position: absolute;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 630px;
    border-radius : 5px;
    border: 1px solid black;
    background-color: #5a5a5a;
    z-index: -1;
    opacity: 0.7;
}
.pred_box2{
    position: fixed;
    width: 1100px;
    height: 120px;
    border-radius : 5px;
    background-color: #1f1f1f;
    z-index: 2;
    opacity: 0.7;
}
.pred_ex{
    text-align: center;
    width:300px;
    margin-left:600px;
    margin-top: 115px;
    font-size:35px;
    color: #ffeb00;
    font-weight: 900;
    z-index: 2;
}

.index_buttons{
    background-color: black;
    transition: background, 0.4s;
    font-family: "Nanum";
}

.index_buttons:hover{
    background-color: red;
}

.start_button{
    background-color: rgba(255,255,255,0);
    transition: background, 0.4s;
    border:1px solid black;
}

.start_button:hover{
    border:0px solid red;
    background-color: red;
}