<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인공지능 헬스케어</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<header>
    <div class="header">
        <h1><a href="/">HEALTH CARE</a></h1>
        <div class="nav">
            <ul>
                <li><a href="#">main</a></li>
                <li><a href="#">select</a></li>
                <li><a href="#">input</a></li>
                <li><a href="#">predict</a></li>
                <li><a href="#">etc</a></li>
            </ul>
        </div>
    </div>
</header>


<body>
    <div class="container">
        <div class="section">
            <div class="section1">
                <div class="hero">
                    <h2>체력 측정별 인공지능 운동처방</h2>
                    <p>운동을 망설이시나요?<br>어떤 운동을 해야할지 모르시겠나요?<br>당신에게 적절한 운동을 추천해드립니다^^</p>
                    <a href="/select" style="position:absolute; margin-left:-60px;">
                        <button>go predict</button>
                </div>
            </div>
        </div>    
        <div class="section">
            <div class="content">
                <h2>함께 운동하러 가볼까요?</h2>
                <a href="/select" style="position:absolute; margin-left:-60px;">
                    <button class="button_over1" style="font-size:18px; border-radius: 20px 20px 20px 20px; border:0px ; width:150px; height:60px; color:white;" onMouseover="this.className='button_over2'" onMouseout="this.className='button_over1'">검사 시작하기</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>