<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인공지능 헬스케어</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<header>
    <div class="header">
        <h1><a herf="/">HEALTH CARE</h1>
        <div class="nav">
            <ul>
                <li><a href="/">main</a></li>
                <li><a href="#">introduce</a></li>
                <li><a href="/select">select age</a></li>
                <li><a href="/input10">input</a></li>
                <li><a href="/predict">predict</a></li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="container">
        <div class="section">
            <div class="hero">
                <h2>체력을 고려한<br>적절한 운동을<br>처방해드립니다.</h2>
                <p></p>
                <a href="/select" style="position:absolute; margin-left:-90px;">
                    <button class="button_over1" style="font-size: 20px; font-weight: bold; border-radius: 20px 20px 20px 20px; border:0px ; width:180px; height:60px; color:#F5dF4D; background-color: #939597" onMouseover="this.className='button_over2'" onMouseout="this.className='button_over1'">검사 시작하기</button>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>Page #2</h2>
                <p>여기에 간단한 서비스 소개</p>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>Page #3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus error adipisci officia incidunt dolorem blanditiis et harum rerum temporibus optio, maiores nesciunt labore nobis laudantium iure voluptate? Excepturi, sint inventore.</p>
            </div>
        </div>
    </div>
</body>

</html>