<!DOCTYPE html>
<html>
<head>

     <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">

     <title>docwrite</title>

</head>
<header>
    <div class="header">
        <h1><a href="/">HEALTH CARE</a></h1>
        <div class="nav">
            <ul>
                <li><a href="#">main</a></li>
                <li><a href="#">select</a></li>
                <li><a href="#">input</a></li>
                <li><a href="#">predict</a></li>
                <li><a href="#">etc</a></li>
            </ul>
        </div>
    </div>
</header>
<body style="background-image: url(https://src.hidoc.co.kr/image/lib/2020/4/13/1586766471495_0.jpg); background-size: cover; background-attachment: fixed;  z-index: 1;">

    <div>
         <div class="pred_ex">추천드리는 운동
        </div>
        <a class="predict" style="font-size:27px; font-weight: 900;">
        <div  style="position:absolute; font-size:35px; margin-left:220px; margin-top:0px; text-align:center; width:200px; height:150px; color:white; z-index: 3;">
            <br>준비 운동
        </div>
        <div style="position:absolute; margin-top:135px; margin-left:790px; font-size:50px; color:gold; z-index: 3;">&darr;</div>
        <div style="position:absolute; width:800px; text-align:center; height:100px; margin-left:400px; margin-top:15px; color:#493D26; z-index: 3;"><br>{{res1}}
        </div>
        <div style="position:absolute; font-size:35px; margin-left:220px; margin-top:205px; text-align:center; width:200px; height:150px; color:white; z-index: 3;">
            <br>본 운동
        </div>
        <div style="position:absolute; margin-top:330px; margin-left:790px; font-size:50px; font-weight: 900; color:gold; z-index: 3;">&darr;</div>
        <div style="position:absolute; width:800px; text-align:center; height:150px; margin-left:450px; margin-top:210px; color:#493D26; z-index: 3;"><br>{{res2}}
        </div>
        <div style="position:absolute; font-size:35px; margin-left:220px; margin-top:395px; text-align:center; width:200px; height:100px; color:white; z-index: 3;">
            <br>마무리 운동
        </div>
        <div style="position:absolute; width:800px; text-align:center; height:50px; margin-left:400px; margin-top:410px; color:#493D26; z-index: 3;"><br>{{res3}}
        </div>
        </a>
    </div>
</body>

<div class="pred_box1"></div>
<div class="pred_box2" style="top: 175px; left: 200px;"></div>
<div class="pred_box2" style="top: 380px; left: 200px;"></div>
<div class="pred_box2" style="top: 570px; left: 200px;"></div>
</html>